
.button,
.button:link,
.button:visited {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-radius: 6px;
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
  text-align: center;
  padding: 9px 30px;
  margin-bottom: 20px;
  background: #00a0dc;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:link:hover,
.button:visited:hover,
.button:focus,
.button:link:focus,
.button:visited:focus {
  text-decoration: none;
  background: #00abeb;
  color: #fff;
}

.button-inverted {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-radius: 6px;
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
  text-align: center;
  padding: 12px 40px;
  margin-bottom: 20px;
  background: #00a0dc;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  color: #00a0dc;
  border: 2px solid #00a0dc;
}

.button-inverted:hover,
.button-inverted:focus {
  text-decoration: none;
  background: #00abeb;
  color: #fff;
}

.button-flat-inverted:hover,
.button-flat-inverted:focus {
  background: #ffffff;
}

html[lang^='en'] .button,
html[lang^='en'] .button-inverted {
  text-transform: uppercase;
}

.button-red,
.button-red:link,
.button-red:visited {
  background: #C9302C;
}

.button-red:hover,
.button-red:link:hover,
.button-red:visited:hover,
.button-red:focus,
.button-red:link:focus,
.button-red:visited:focus {
  background: #d9342f;
}

.button-green,
.button-green:link,
.button-green:visited {
    background: #93C54B;
}

.button-green:hover,
.button-green:link:hover,
.button-green:visited:hover,
.button-green:focus,
.button-green:link:focus,
.button-green:visited:focus {
  background: #98cc4e;
}

.button-little {
    padding: 8px 10px;
}

/* Fixing alignment with font-awesome icons inside buttons */
.button i.fa-15x {
    vertical-align: bottom;
    margin-bottom: -3px;
    padding-right: 7px;
}

.button i.fa-2x {
    vertical-align: bottom;
    margin-bottom: -6px;
}

.treeview .button i {
    padding-right: 0;
}
