
.treeview {
    padding: 30px;
}

.treeview label.rule {
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    line-height: 2em;
    padding: 0 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.treeview .comment {
    display: block;
    margin: 0 0 1em 45px;
    height: 1em;
    line-height: 1em;
    font-size: 1.0em;
    color: #666;
    font-style: italic;
}

.treeview .new-exception,
#exceptionview {
    margin: 10px 0;
}

.treeview ul,
.treeview li
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.treeview input,
.delete-rule,
.edit-rule,
.delete-exception,
.edit-exception
{
    position: absolute;
    opacity: 0;
}

.treeview .exceptions input,
.delete-rule,
.edit-rule,
.delete-exception,
.edit-exception
{
    position: relative;
    min-width: 0;
    margin: 0 0 0 20px;
}

.treeview .delete-rule
{
    position: relative;
    min-width: 0;
    margin: 0 0 0 20px;
}

.treeview .exceptions li:hover .button,
.treeview .rules li:hover .edit-rule,
.treeview .rules li:hover .delete-rule
{
    opacity: 1;
}

.treeview
{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-align: left;
}

.treeview a
{
    color: #00f;
    text-decoration: none;
}

.treeview a:hover
{
    text-decoration: underline;
}

.treeview input + label + ul
{
    margin: 0 0 0 22px;
}

.treeview input ~ ul
{
    display: none;
}

.treeview label,
.treeview label::before
{
    cursor: pointer;
}

.treeview .switch:disabled + label
{
    cursor: default;
    opacity: .6;
}

.treeview .switch:checked:not(:disabled) ~ ul
{
    display: block;
}

.treeview label,
.treeview a,
.treeview label::before
{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}


.treeview label::before
{
    font-family: FontAwesome;
    content: "\f196";
    margin: 0 22px 0 0;
}

.treeview .switch:checked + label::before
{
    font-family: FontAwesome;
    content: "\f147";
}

/* Overrides for the Exception form */

.treeview #exceptionview input
{
    position: relative;
    opacity: 1;
}

.treeview #exceptionview .button {
    margin: 0 0 0 10px;
}


/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .treeview 
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }

    @-webkit-keyframes webkit-adjacent-element-selector-bugfix 
    {
        from 
        { 
            padding: 0;
        } 
        to 
        { 
            padding: 0;
        }
    }
}
